# iPacx RIS Single Hospital Environment Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=lekhana
POSTGRES_DB=ris
JWT_SECRET=bhEs3RR+q74v+rK3w/3dWWTpiBpEXZ++KT7wrxMWjyUSsETbpJvORaEoAGpA+ejq
REACT_APP_API_URL=http://localhost:3015
MWL_SERVICE_HOST=localhost
DOCKER_HUB_REPO=ipacx
IMAGE_TAG=latest
